.enjoy {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.like-this img {
    width: 850px;
    margin-top: 4rem;
    transition: 1s;
    cursor: pointer;
    
}

.like-this img:hover {
    transform: scale(1.1);
}

.container {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: #262626;
    margin-top: 5rem;
    text-align: center;
    color: white; 
}

#who-am-i-text {
    /* color: #4b4a4a; */
    text-align: justify;
    font-size: 18px;
    padding-top: 1.5rem;
    width: 500px;
}

.container h2 {
    padding-bottom: 4rem;
    font-size: 40px;
    color: #FD5E36;
}

.container-about {
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 90vw;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #262626;
}

#who-am-i-img {
    width: 350px;
    border-radius: 20px;
}

.who-am-i h3 {
    /* color: #4b4a4a; */
    font-size: 40px;
}

.language {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.flag {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.flag img {
    width: 90px;
    padding: 0 2rem;
    transition: 1s;
    cursor: pointer;
}

.flag img:hover {
    transform: scale(1.1);
}

.flag p {
    color: #413f3f;
    font-weight: 600;
}