footer {
  width: 100%;
  height: 400px;
  background-color: #1b1b1b;
}

footer h3 {
  color: #fd5e36;
  padding-bottom: 1rem;
}

footer a {
  color: white;
  padding-bottom: 1rem;
  transition: 0.6s;
}

footer a:hover {
  color: #ffc847;
}

footer p {
  text-align: center;
  color: rgba(255, 255, 255, 0.315);
  padding-top: 1rem;
}

hr {
  border: 1px solid #262626;
}

.container-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 1100px;
}

.menu-footer {
  display: flex;
  flex-direction: column;
  padding-left: 200px;
}

.social-footer {
  display: flex;
  flex-direction: column;
  padding-left: 100px;
}

.button-footer {
  margin-left: 200px;
  margin-top: -110px;
}
