@charset "UTF-8";

/* Color Theme Swatches in Hex */
.Ilustração-1-hex {
  color: #6e7cff;
}
.Ilustração-2-hex {
  color: #f2f2eb;
}
.Ilustração-3-hex {
  color: #ffc847;
}
.Ilustração-4-hex {
  color: #fd5e36;
}
.Ilustração-5-hex {
  color: #0d756c;
}

/* 
Typical Device Breakpoint

Cellphone: from 375px to 667px
Tablet: from 1024px to 768px
Laptop: from 1440px to 900px
Desktop: from 1920px to 1080px
 */

@media screen and (min-width: 320px) and (max-width: 667px) {
  .mobile-menu {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 13vw;
    right: 0;
    width: 140vw;
    height: 95vh;
    background: #1b1b1b;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transform: translate(100%);
    transition: transform 0.3s ease-in;
  }

  .navbar a {
    margin-right: 90px;
  }

  .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  .main-container {
    padding-top: 5rem;
  }

  .like-this img {
    width: 90vw;
  }

  .container h2 {
    padding: 1rem;
  }

  .container-about img {
    display: none;
  }

  #who-am-i-text {
    width: 90vw;
  }

  .flag {
    width: 50vw;
    margin-left: -20px;
  }

  .container-projects {
    display: flex;
    flex-direction: column;
  }

  .project-1 {
    position: none;
    margin-left: -20rem;
  }

  .project-1 img {
    margin-left: 330px;
    width: 90vw;
  }

  .container-projects {
    margin-top: 18rem;
    margin-left: 1rem;
    width: 70vw;
  }

  .more-projects {
    display: flex;
    flex-direction: column;
    margin-top: 40rem;
  }

  .project-3 {
    padding-top: 3rem;
    padding-bottom: 1rem;
  }

  .video video {
    margin-top: 5rem;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.616);
    border-radius: 15px;
    width: 90vw;
  }

  .container-footer img {
    display: none;
  }

  .container-footer h1 {
    display: none;
  }

  .container-footer {
    margin-right: 200px;
  }

  .button-footer {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }

  .mobile-menu {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 7.5vw;
    right: 0;
    width: 50vw;
    height: 95vh;
    background: #1b1b1b;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transform: translate(100%);
    transition: transform 0.3s ease-in;
  }

  .navbar a {
    margin-right: 90px;
  }

  .img-logo {
    margin-left: 170px;
  }

  .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 6rem;
  }

  .icons {
    display: flex;
  }

  .buttom-cv {
    display: none;
  }

  .like-this img {
    padding-top: 20px;
    width: 80vw;
    margin: 0 auto;
  }

  #who-am-i-img {
    display: none;
  }

  .container-projects {
    display: flex;
    flex-direction: column;
  }

  .project-1 {
    position: none;
    margin-left: -20rem;
  }

  .project-1 img {
    margin-left: 430px;
    width: 70vw;
  }

  .container-projects {
    margin-top: 22rem;
    margin-left: 9rem;
    width: 70vw;
  }

  .more-projects {
    display: flex;
    flex-direction: column;
    margin-top: 40rem;
  }

  .project-3 {
    padding-top: 3rem;
    padding-bottom: 1rem;
  }

  .video video {
    margin-top: 5rem;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.616);
    border-radius: 15px;
    width: 90vw;
  }
}
