@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Staatliches&family=Tilt+Warp&display=swap');

/* Color Theme Swatches in Hex */
.Ilustração-1-hex { color: #6E7CFF; }
.Ilustração-2-hex { color: #F2F2EB; }
.Ilustração-3-hex { color: #FFC847; }
.Ilustração-4-hex { color: #FD5E36; }
.Ilustração-5-hex { color: #0D756C; }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: white;
    align-items: 0 auto;
}

main {
    position: relative;
    z-index: 1;
}

hr {
    width: 200px;
    margin: auto;
    color: #FFC847;
    border: 2px solid #FFC847;
    margin-top: 5px;
}

/* Button Scroll to Up */

#progress {
    position: fixed;
    bottom: 20px;
    right: 10px;
    height: 40px;
    width: 40px;
    display: none;
    place-items: center;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.342);
    cursor: pointer;
    z-index: 500;
}

#progress-value {
    display: block;
    height: calc(100% - 5px);
    width: calc(100% - 5px);
    background-color: #F8F8F8;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 30px;
    color: #161E2E;
}

.header {
    display: flex;
    align-items: center;
    height: 60px;
    justify-content: space-between;
    background-color: #262626;
    width: 100vw;
    padding-left: 4rem;
    padding-right: 4rem;
    z-index: 100;
    position: fixed;
}

.logo {
    font-size: 25px;
    color: #FD5E36;
}

.img-logo {
    width: 30px;
    vertical-align: middle;
    margin-top: -4px;
}


.navbar a {
    font-size: 1.1rem;
    margin-left: 2rem;
    font-weight: 600;
    color: white;
    transition: .3s;
}

.navbar a:hover {
    color: #FFC847;
}

.navbar:hover,
#active {
    color: #FD5E36;
}

.conteudo-principal {    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: #262626;
    padding: 3rem 4rem;
}

.conteudo-principal-subtitulo-texto {
    font-weight: 400;
    font-size: 50px;
    color: white;
    padding-top: 5px;
}

.sobre-mim {
    font-weight: 400;
    font-size: 18px;
    color: white;
    padding-top: 25px;
}

.icons{
    display: flex;
    flex-direction: row;
    padding: 5px;
    width: 40px;
    padding-top: 20px;
    transition: .4s;
}

#linkedin:hover {
    transform: scale(1.2);
}

#github:hover {
    transform: scale(1.2);
}

#instagram:hover {
    transform: scale(1.2);
    
}

.buttom-cv {
    background: transparent;
    font-size: 18px;
    border: 1px solid white;
    border-radius: 7px;
    margin-top: 10px;
    color: white;
    padding: 5px 20px;   
    transition: .6s;
}

.buttom-cv:hover {
    box-shadow: none;
    cursor: pointer;
    background-color: #FFC847;
    color: black;
    border: none;
    transform: scale(1.2);
    
}

.meu-logo {
    max-width: 450px;
    padding: 30px;
    animation: floatImage 4s ease-in-out infinite;   
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-1rem);
    }

    100% {
        transform: translateY(0);
    }
}

.meu-logo:hover {
    transform: translate(-2px, -2px);
    transition: transform 0.3s;
}

.like-text {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: 200;
    padding-right: 60px;
    text-align: center;
    color: #4b4a4a;
}

.enjoy {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #262626fb;
}

.like-this img {
    width: 800px;
    
}

.container {
    padding-bottom: 4rem;
    background-color: #262626;
    text-align: center;
    color: white;
    
}

#emoji {
    font-size: 35px;
}

#jorney {
    padding-top: 3rem;
    text-align: center;
}

#who-am-i-text {
    color: #4b4a4a;
    text-align: justify;
    font-size: 18px;
    padding-top: 1.5rem;
    width: 500px;
}

.container h2 {
    padding-bottom: 4rem;
    font-size: 40px;
    color: #FD5E36;
}

.container-about {
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 80vw;
    margin: 0 auto;
    background-color: #262626;
}

#who-am-i-img {
    width: 30vw;
    margin-right: -50px;
}

.who-am-i h3 {
    color: #4b4a4a;
    font-size: 40px;
}
