@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Staatliches&family=Tilt+Warp&display=swap');

/* Color Theme Swatches in Hex */
.Ilustração-1-hex { color: #6E7CFF; }
.Ilustração-2-hex { color: #F2F2EB; }
.Ilustração-3-hex { color: #FFC847; }
.Ilustração-4-hex { color: #FD5E36; }
.Ilustração-5-hex { color: #0D756C; }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    align-items: 0 auto;
}

main {
    position: relative;
    z-index: 1;
}

/* Button Scroll to Up */

#progress {
    position: fixed;
    bottom: 20px;
    right: 10px;
    height: 40px;
    width: 40px;
    display: none;
    place-items: center;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.342);
    cursor: pointer;
    z-index: 500;
}

#progress-value {
    display: block;
    height: calc(100% - 5px);
    width: calc(100% - 5px);
    background-color: #F8F8F8;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 30px;
    color: #161E2E;
}
