@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Staatliches&family=Tilt+Warp&display=swap');

/* Color Theme Swatches in Hex */
.Design-gráfico-1-hex { color: #044BD9; }
.Design-gráfico-2-hex { color: #0339A6; }
.Design-gráfico-3-hex { color: #2291F2; }
.Design-gráfico-4-hex { color: #1DA1F2; }
.Design-gráfico-5-hex { color: #262626; }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
}

html {
    behavior: smooth;
    padding-left: 5vw;
    max-width: 100vw;
    height: 100vh;
    font-size: 100%;
    min-height: 100vh;      
}

body {
    background: white;
    align-items: 0 auto;
    margin-top: 60px;
}

main {
    position: relative;
    z-index: 1;
}

section {
    /* min-height: 100vh; */
    padding: 4rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 2rem 9%;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar a {
    font-size: 1.1rem;
    margin-left: 4rem;
    color: black;
    transition: .3s;
}

.navbar a:hover {
    color: #2291F2;
}

.navbar:hover,
#active {
    color: #2291F2;
}

.conteudo-principal {    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-titulo-texto {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 35px;
    color: black;
}

.conteudo-principal-subtitulo-texto {
    font-weight: 400;
    font-size: 70px;
    color: black;
    padding-top: 5px;
}

.frontend-developer {
    font-weight: 400;
    font-size: 35px;
    color: black;
    padding-top: 5px;
}

.sobre-mim {
    font-weight: 400;
    font-size: 18px;
    color: black;
    padding-top: 25px;
}

.icons{
    display: flex;
    flex-direction: row;
    padding: 5px;
    width: 40px;
    padding-top: 20px;
}

#linkedin:hover {
    transform: translate(-2px, -2px);
    transition: transform 0.3s;
}

#github:hover {
    transform: translate(-2px, -2px);
    transition: transform 0.3s;
}

#instagram:hover {
    transform: translate(-2px, -2px);
    transition: transform 0.3s;
}

.buttom-cv {
    background: transparent;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 30px;
    margin-top: 10px;
    color: black;
    width: 150px;  
    height: 40px;   
    transition: .4s;
}

.buttom-cv:hover {
    box-shadow: none;
    cursor: pointer;
    background-color: black;
    color: white;
    transform: scale(1.2);
    
}

.meu-logo {
    max-width: 400px;
    padding: 30px;
    animation: floatImage 4s ease-in-out infinite;   
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-1rem);
    }

    100% {
        transform: translateY(0);
    }
}

.meu-logo:hover {
    transform: translate(-2px, -2px);
    transition: transform 0.3s;
}
