@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200;300;400;500;600;700&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/* Color Theme Swatches in Hex */
.Design-gráfico-1-hex { color: #044BD9; }
.Design-gráfico-2-hex { color: #0339A6; }
.Design-gráfico-3-hex { color: #2291F2; }
.Design-gráfico-4-hex { color: #1DA1F2; }
.Design-gráfico-5-hex { color: #262626; }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html, body {
    padding-left: 5vw;
    max-width: 90vw;
    height: 100vh;
    font-size: 100%;
    background: #262626;
    min-height: 100vh;
    
    
    
        
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: -10px;
    
    
}

.cabecalho-logo {
    width: 250px;  
    margin-top: 10px;
    

}

.cabecalho-menu {
    display: flex;
    gap: 32px ;
    font-weight: 500;
    font-size: 18px;

}

.cabecalho-menu-item {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
}

.conteudo {
    border-top: 1px solid rgba(255, 255, 255, 0.126);
    margin-bottom: 48px;
    
}

.conteudo-principal {    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 40px;
    padding-bottom: 40px;

}

.conteudo-principal-titulo-texto {
    display: flex;
    flex-direction: column;
    gap: 32px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 35px;
    color: white;
}

.conteudo-principal-subtitulo-texto {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: white;

}

.botao-github {
    background-color: #044BD9;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.638);
    margin-top: 20px;
    color: white;
    width: 150px;  
    height: 50px;
    
}

.botao-github:hover {
    background-color: #1DA1F2;
    cursor: pointer;
}

.meu-logo {
    width: 300px;
    
}

.meu-logo:hover {
    transform: translate(-2px, -2px);
    transition: transform 0.3s;
}

.conteudo-secundario {
    border-top: 1px solid rgba(255, 255, 255, 0.126);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    font-weight: 300;
    font-size: 1.3em;    
    padding-top: -500px;

}

.conteudo-secundario p {
    text-align: justify;
}

.conteudo-secundario p a {
    color: #044BD9;
}

.minha-foto {
    width: 400px;
    padding-bottom: 100px;
    
}

/* Página dos Projetos */

.cabecalho-pojetos {
    border-top: 1px solid rgba(255, 255, 255, 0.126);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 35px;
    padding-top: 30px;
    text-align: center;
    color: white;
    margin: 10px;

}

.texto-para-github {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding-top: 30px;
    text-align: center;
    color: white;

}

.imagens-projetos {
    display: flex;
    justify-content: center;
    padding-top: 20px;
   
}

.imagens-projetos > img {   
    width: 250px;
    padding: 20px;
    padding-bottom: 40px;
    border-radius: 50%;
    box-sizing: border-box;
}

.imagens-projetos img:hover {   
    transform: translate(-2px, -2px);    
    transition: transform 0.3s;
}


.botao-github-pag-projetos {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;

}

.botao-github-projetos:hover {
    background-color: #91BBF2;

}

.botao-github-projetos {
    background-color: #035AA6;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    align-items: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.638);
    margin-top: 20px;
    color: white;
    width: 300px;  
    height: 50px;
}

/* Pagina Linguagens */

.cabecalho-linguagens {
    border-top: 1px solid rgba(255, 255, 255, 0.126);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 35px;
    padding-top: 30px;
    text-align: center;
    color: white;
    margin: 10px;

}

.imagens-linguagens {
    display: flex;
    justify-content: center;
    
}

.imagens-linguagens > img {
    width: 250px;
    margin: -50px;
    margin-top: 30px;
    margin-bottom: 5¡20px;
}

.imagens-linguagens img:hover {
    transform: translate(-2px, -2px);
    transition: transform 0.3s;
    
}

.texto-pag-linguagens {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 40px;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    font-weight: 300;
    padding-bottom: 50px;
    font-size: 1.3em;

}

.texto-pag-linguagens p {
    text-align: center;
}

.texto-para-linkedin {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding-top: 30px;
    text-align: center;
    color: white;

}

.botao-likedin-pag-linguagens {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;

}

.botao-linkedin:hover {
    background-color: #91BBF2;
}

.botao-linkedin {
    background-color: #035AA6;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    align-items: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.638);
    margin-top: 20px;
    color: white;
    width: 300px;  
    height: 50px;
}



/* Config de Rodape  All Pages */


.rodape {
    border-top: 1px solid rgba(255, 255, 255, 0.126);
   
    
    
}

.imagem-rodape {    
    display: block;
    margin: 0 auto;
    width: 500px;
}

