@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200;300;400;500;600;700&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/* Color Theme Swatches in RGBA */
.color-theme_9c2c63eab0acefb8cdf08dd965c9b24d-1-rgba { color: rgba(145, 187, 242, 1); }
.color-theme_9c2c63eab0acefb8cdf08dd965c9b24d-2-rgba { color: rgba(3, 90, 166, 1); }
.color-theme_9c2c63eab0acefb8cdf08dd965c9b24d-3-rgba { color: rgba(2, 48, 89, 1); }
.color-theme_9c2c63eab0acefb8cdf08dd965c9b24d-4-rgba { color: rgba(1, 21, 38, 1); }
.color-theme_9c2c63eab0acefb8cdf08dd965c9b24d-5-rgba { color: rgba(3, 103, 166, 1); }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {

    font-size: 100%;
    background: #011526;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: -10px;
    
}

.cabecalho-logo {
    width: 250px;  
    margin-top: 10px;
    

}

.cabecalho-menu {
    display: flex;
    gap: 32px ;
    font-weight: 400;
    font-size: 18px;

}

.cabecalho-menu-item {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
}

.conteudo {
    margin-bottom: 48px;
    border-top: 0.4px solid rgba(255, 255, 255, 0.245);
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 40px;

}

.conteudo-principal-titulo-texto {
    display: flex;
    flex-direction: column;
    gap: 32px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 35px;
    color: white;
}

.conteudo-principal-subtitulo-texto {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: white;

}

.botao-github {
    background-color: #035AA6;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.638);
    margin-top: 20px;
    color: white;
    width: 150px;  
    height: 50px;
    
}

.botao-github:hover {
    background-color: #91BBF2;
}

.meu-logo {
    width: 200px;
    
}

.conteudo-secundario {
    border-top: 0.4px solid rgba(255, 255, 255, 0.353);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 40px;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    font-weight: 300;

}

.titulo-sobre-mim {
    font-size: 30px;
    padding-top: 35px;
    align-items: center;
}

/* Página dos Projetos */

.cabecalho-pojetos {
    border-top: 1px solid rgba(255, 255, 255, 0.263);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 35px;
    padding-top: 30px;
    text-align: center;
    color: white;
    margin: 10px;

}

.texto-para-github {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding-top: 30px;
    text-align: center;
    color: white;

}

.imagens-projetos {
    display: flex;
    justify-content: center;
    padding-top: 20px;
   
}

.imagens-projetos > img {   
    width: 250px;
    padding: 30px;
    border-radius: 50%;
    box-sizing: border-box;
}

.imagens-projetos img:hover {
    border: 2px solid #91bbf24a;
    transform: translate(-2px, -2px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.622);
    transition: transform 0.3s, border 0.5s;
}

.botao-github-pag-projetos {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;

}

.botao-github-projetos:hover {
    background-color: #91BBF2;

}

.botao-github-projetos {
    background-color: #035AA6;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    align-items: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.638);
    margin-top: 20px;
    color: white;
    width: 300px;  
    height: 50px;
}

/* Config de Rodape  All Pages */


.rodape {
    padding: 10px;
    border-top:  0.4px solid rgba(255, 255, 255, 0.436);
    
}

.imagem-rodape {
    display: block;
    margin: 0 auto;
    width: 150px;
}

